<html>

    <head>


    </head>

    <body>

        <h1>Home</h1>

        <!-- ================================================================== -->
        <!--                           NEWS SECTION                             -->
        <!-- ================================================================== -->
        <h2>Financial News in the Last 24 Hours</h2>

        <!-- Loop over the news records -->
        {% for i_news in news %}

            <!-- Put the news title + link for more detail (calls function news_detail which goes inside "news_detail.html") -->
            <li>
                <a href="{% url 'news_detail' i_news.id %}">
                    {{ i_news.title }}
                </a>
            </li>

        {% endfor %}
        <!-- ================================================================== -->
        



    </body>

</html>